02-Web/xml/alojamiento.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="alojamientos">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="alojamiento">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="imagen" type="xs:string" />
              <xs:element name="nombre" type="xs:string" />
              <xs:element name="ciudad" type="xs:string" />
              <xs:element name="texto" type="xs:string" />
              <xs:element name="puntuacion" type="xs:string" />
              <xs:element name="comentarios" type="xs:string" />
              <xs:element name="instalaciones">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="instalacion" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="precio" type="xs:string" />
              <xs:element name="descripcion" type="xs:string" />
              <xs:element minOccurs="0" name="reservas">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="reserva">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="fecha_inicio" />
                          <xs:element name="fecha_fin" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="type" type="xs:string" use="required" />
            <xs:attribute name="id" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>